---
layout: default
description: Gadget Bits Technology Page
title: Gadget Bits
id: tech
tags: Technology
frontpage: false
---

<!-- banner -->
<div class="banner1">
	
</div>

<!-- technology -->
<div class="technology-1">
	<div class="container">
		<div class="col-md-9 technology-left">
		<div class="business">
			
			<!-- technology-top -->
			{% for post in site.posts %}	
       			{% if post.tags contains page.tags %}
			
		
			 	<div class="rev-1">				
					<div class="rev-img">
						<a href="{{ post.url }}"><img src={{ post.icon }} class="img-responsive" alt=""/></a>
					</div>
					
				 	<div class="rev-info">
						<h3><a href="{{ post.url }}">{{ post.title }}</a></h3>
						<p>{{ post.excerpt | strip_html | strip_newlines | truncate: 300 }}</p>
					</div>
						
					
					<div class="clearfix"></div> 
				</div>
		
			   {% endif %}
			 {% endfor %}
			<!-- technology-top -->
				
			</div>
		</div>
		
		<!-- technology-right -->
		<div class="col-md-3 technology-right">
				<div class="blo-top">
					<div class="tech-btm">
					<img src="images/banner1.jpg" class="img-responsive" alt=""/>
					</div>
				</div>
				<div class="blo-top">
					<div class="tech-btm">
						<h4>Sign up to our newsletter</h4>
						<p>Get updated with the latest articles</p>
						<div class="name">
							<form>
								<input type="text" placeholder="Email" required="">
							</form>
						</div>	
						<div class="button">
							<form>
								<input type="submit" value="Subscribe">
							</form>
						</div>
							<div class="clearfix"> </div>
					</div>
				</div>
				<div class="blo-top1">
					<div class="tech-btm">
					<h4>Top stories of the week </h4>
						<div class="blog-grids">
							
							 {% for post in site.posts %}
							<div class="blog-grid-left">
								<a href="{{ post.url }}"><img src="images/6.jpg" class="img-responsive" alt=""/></a>
							</div>
							<div class="blog-grid-right">
								<h5><a href="{{ post.url }}">{{ post.title }}</a> </h5>
							</div>
							<div class="clearfix"> </div>
							 {% endfor %}
							
						</div>						
						
					</div>
				</div>
			
		</div>
		<div class="clearfix"></div>
		<!-- technology-right -->
	</div>
</div>
<!-- technology -->

