
<!-- footer -->
	<div class="footer">
		<div class="container">
			<div class="col-md-4 footer-left">
				<h6>Gadgets Bits</h6>
				<p>A tech blog in malayalam </p>
				<p> </p>
			</div>
			<div class="col-md-4 footer-middle">
				<h4>Follow us</h4>
				<p> Subscribe in a reader</p>
				<p> Subscribe via email</p>
				
		
			</div>
			<div class="col-md-4 footer-right">
				<h4>Quick Links</h4>
				<li><a href="#">About</a></li>
				<li><a href="#">Advertising </a></li>
				<li><a href="#">Contribute</a></li>
				<li><a href="#">Privacy Policy</a></li>
				<li><a href="#">Terms of Service </a></li>
			
			</div>
			<div class="clearfix"></div>
		</div>
	</div>
<!-- footer -->

<!-- footer-bottom -->
	<div class="foot-nav">
	<div class="container">
		<ul>
			<li><a href="index.html">Home</a></li>
			<li><a href="tech.html">Technology</a></li>
			<li><a href="compute.html">Computing</a></li>
			<li><a href="finance.html">Finance</a></li>
			<li><a href="videos.html">Videos</a></li>
			<li><a href="reviews.html">Reviews</a></li>
			
			<!--
			<li><a href="singlepage.html">Science</a></li>
			<li><a href="design.html">Design</a></li>
			<li><a href="business.html">Business</a></li>
			<li><a href="world.html">World</a></li>
			<li><a href="forum.html">Forum</a></li> -->
			<li><a href="contact.html">Contact</a></li>			
			<div class="clearfix"></div>
		</ul>
		</div>
				</div>
<!-- footer-bottom -->
			<div class="copyright">
				<div class="container">
					<p>© Gadgets Bits. All rights reserved</p>
				</div>
			</div>
	

</body>
</html>
