---
layout: default
---

<!-- banner -->
<div class="banner1">
	
</div>

<div class="technology-1">
	<div class="container">
		
	  <div class="col-md-9 technology-left">
		<div class="business">
      
			<!-- <div class="soci">
				<ul>
					<li><a href="https://www.facebook.com/sharer/sharer.php?u=<URL>" class="facebook-1"> </a></li>
					<li><a href="https://twitter.com/share?url=<URL>&text=<TEXT>via=<USERNAME>" class="facebook-1 twitter"> </a></li>
					<li><a href="https://plus.google.com/share?url=<URL>" class="facebook-1 chrome"> </a></li>
					<li><a href="mailto:?subject=<SUBJECT>&body=<BODY>"><i class="glyphicon glyphicon-envelope"> </i></a></li>
					<li><a href="#"><i class="glyphicon glyphicon-print"> </i></a></li>
					<li><a href="#"><i class="glyphicon glyphicon-plus"> </i></a></li> 
				</ul>
			</div> -->
			
			<div class=" blog-grid2">
				<img src={{ page.icon }} class="img-responsive" alt="">
				<div class="blog-text">
					<h5>{{ page.title }}</h5>
					<p>{{ page.content }}</p>
				</div>
				
				<div class="blog-poast-info">
					<ul>
						<!-- <li><i class="glyphicon glyphicon-user"> </i><a class="admin" href="#"> Admin </a></li>-->
						<li><i class="glyphicon glyphicon-calendar"> </i>{{ post.date | date_to_string }}</li>
						<!-- <li><i class="glyphicon glyphicon-comment"> </i><a class="p-blog" href="#">3 Comments </a></li>
						<li><i class="glyphicon glyphicon-heart"> </i><a class="admin" href="#">5 favourites </a></li>
						<li><i class="glyphicon glyphicon-eye-open"> </i>1.128 views</li> -->
					</ul>
				</div
			</div>
			<div class="comment">
				<h3>Leave a Comment</h3>
				<div class=" comment-bottom">
					<form>
						<input type="text" placeholder="Name">
						<input type="text" placeholder="Email">
						<input type="text" placeholder="Subject">
						<textarea placeholder="Message" required=""></textarea>
						<input type="submit" value="Send">
					</form>
				</div>
			</div>
		</div>
	</div>
			
    <!-- technology-right -->
	 <div class="col-md-3 technology-right">
				<div class="blo-top">
					<div class="tech-btm">
					<img src="images/banner1.jpg" class="img-responsive" alt=""/>
					</div>
				</div>
				<div class="blo-top">
					<div class="tech-btm">
						<h4>Sign up to our newsletter</h4>
						<p>Get updated with the latest articles</p>
						<div class="name">
							<form>
								<input type="text" placeholder="Email" required="">
							</form>
						</div>	
						<div class="button">
							<form>
								<input type="submit" value="Subscribe">
							</form>
						</div>
							<div class="clearfix"> </div>
					</div>
				</div>
				<div class="blo-top1">
					<div class="tech-btm">
					<h4>Top stories of the week </h4>
						<div class="blog-grids">
							
							 {% for post in site.posts %}
							<div class="blog-grid-left">
								<a href="{{ post.url }}"><img src="images/6.jpg" class="img-responsive" alt=""/></a>
							</div>
							<div class="blog-grid-right">
								<h5><a href="{{ post.url }}">{{ post.title }}</a> </h5>
							</div>
							<div class="clearfix"> </div>
							 {% endfor %}
							
						</div>						
						
					</div>
				</div>
			
		</div>
		<div class="clearfix"></div>
		<!-- technology-right -->
	</div>
</div> <!-- technology-1 -->
